<section id="why-us" class="why-us section-bg">
  <div class="container-fluid" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

        <div class="content">
          <h3 class="text-center"><strong><em>Trusted Tested Accessibility Developer (TTAD)</em></strong></h3>

          <p">Kaffeinated Kodemonkey's focus is bringing digital content into view for humans and AI.</p>

          <p>Our TTADs develop and certify digital content to meet WCAG/508 requirements. We deploy the DHS Trusted Tester process and incorporate the WAI POUR principles when designing and/or certifing
          websites and applications.</p>

          <p>Kaffeinated Kodemonkey developers are <strong><em>TTADs</em></strong> and a member of the <strong>IAAP</strong>.</p>

        </div>

        <div class="accordion-list">
          <ul>
            <li>
              <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Whay us a Trusted Tester A11y Developer<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                <p><strong><em>Trusted Testers A11y Developer (TTAD)</em></strong> are certified by the Department of Homeland Security. <strong><em>TTAD</em></strong> provides a code-inspection-based test approach for determining
                web content conformance to Section 508 standards.</p>

                <p>With Kaffeinated Kodemonkey you are working with Certified TTADs</p>
              </div>
            </li>

            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> What is WCAG & Section 508?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                <p><strong>Web Content Accessibility Guidelines (WCAG):</strong> Acessibility guidelines by the Web Accessibility Initiative <strong>(WAI)</strong>
                of the World Wide Web Consortium <strong>(W3C)</strong>, the international standards organization for the Internet.</p>

                <p><strong>Section 508:</strong> Federal agencies are required to make Information and Communications Technology <strong>(ICT)</strong> <em>(online training and websites)</em> accessible to everyone
                with or without a disability. Everyone should be able to do their work/training/ or access the agency’s internal website on accessible devices. This also applies to people with or without a disability
                applying for a job with the federal government or a person who is using an agency’s website to get information about a program or completing an online form and has access to the same access information and resources available to anyone.</p>
            </li>

            <li>
              <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> What is a VPAT/ARC?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  <p><strong>Voluntary Product Accessibility Template (VPAT®):</strong> Explains how <strong>ICT</strong> products such as software, hardware, electronic content, and support
                  documentation meet <strong>Secton 508</strong> standards for IT accessibility. The <strong>VPAT®</strong> is a templated document used by <strong>TTADs</strong> to create an <strong>ACR</strong> for all businesses
                  that create <strong>ICT</strong> products.</p>


                  <p><strong>Accessibility Conformance Report (ACR):</strong> Is based on the <strong>ITI VPAT®</strong> the <strong>ACR</strong> demonstratinos the compliance leve of the product.</p>

              </div>
            </li>

          </ul>
        </div>

      </div>

      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
    </div>

  </div>
</section><!-- End Why Us Section -->
