<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>About Us</h2>
      <p class="text-center"><strong><em>Helping the government and education sectors become meet WCAG Status.</em></strong></p>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <h3>Kaffeinated Kodemonkey is an Accessibility Agency</h3>

        <p>Our A11y Developers are DHS Certified <strong>Trusted Testers</strong> and use the trusted tester process.
        Paired with an A11y platform, your teams can add web accessibility to their workflow with ease.</p>

        <p>Our A11y team follows <strong><em>POUR web design</em></strong>, for an A11y-First approach in design and evaluation audits.</p>
        <ul>
          <li><i class="ri-check-double-line"></i> <strong>P</strong>erceivable - Users must be able to perceive the information being presented</li>
          <li><i class="ri-check-double-line"></i> <strong>O</strong>perable - Users must be able to operate the interface </li>
          <li><i class="ri-check-double-line"></i> <strong>U</strong>nderstandable - Users must be able to understand information & operations</li>
          <li><i class="ri-check-double-line"></i> <strong>R</strong>obust - Users must be able to access the content as technology advances</li>
        </ul>

        <p>This approach can improve ROI through on-site SEO and help ward off potential lawsuits involving accessibility compliance.</p>

        <p>Get an accessibility audii <strong><em>Today</em></strong> and understand your compliance status.</p>

      </div>
      <!-- About -->
      <div class="col-lg-6 pt-4 pt-lg-0">
        <blockquote class="fw-bold mb-0"><em>"Helping the government and education sectors meet WCAG requirements through an A11y-First approach and Evaluation audit;
        to determine ADA compliant status." </em></blockquote>.

        <p>With a background in front-end development and working in the education and government sectors, our team saw a rise in demand for web accessibility and decided to take a look.
        Once we understood the importance of ADA compliance, our team dove in, and made the shift to a web accessibility agency.</p>

        <p class="text-center p-3 m-4 bg-kkm-blue text-light rounded-3">What is ADA compliance, WCAG, Section 508... </p>

        <p>Kaffeinated Kodemonkey is now offering accesibility seivices with an A11y-First approach to web design, digital content, POC Certifications, ADA compliance, and WCAG Status.
        Our A11y Developers are <strong><em>DHS Certified Trusted Testers</em></strong> and use the Trusted Tester process.</p>



        <!--<p>Over the years, Kaffeinated Kodemonkey discovered that Web Accessibility is more than just assisting users with disabilities to interact with digital products; but also enhances
        the ability of search engines to better understand and list your product more accurately. Thus boosting your ROI through natural SEO.</p>

        <p>Kaffeinated Kodemonkey was founded in 2015 as a freelance web design agency. As our focus shifted, we started implementing Web Accessibility into our business model and services.
        Kaffeinated Kodemonkey is now an accessibility development agency, building websites with an accessibility-first approach, along with accessibility audits, certifications, and monitoring.</p>

        <p>Kaffeinated Kodemonkey is a Certified Trusted Tester and member of the IAAP with a strong focus on helping businesses like yours meet WCAG and Section 508 requirements.</p> -->

        <a href="{{site.url}}/About.html" class="btn-learn-more mt-3">Learn More</a>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
