<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>About Us</h2>
      <p class="text-center"><strong><em>Helping the education and government Sectors meet WCAG Status.</em></strong></p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <p><strong>Your Partner in Web Accessibility</strong></p>
        <p>At Kaffeinated Kodemonkey, we are dedicated to providing an A11y-First approach, ensuring your website's compliance with the latest
        accessibility standards and guidelines. Our commitment to web accessibility not only enhances the user experience but can also have a
        significant impact on your Return on Investment (ROI) through improved on-site SEO, all while safeguarding against potential legal issues
        surrounding web accessibility.</p>

        <p><strong>Our Range of Accessibility Services</strong></p>
        <p>Whether you are in need of an accessibility audit, an A11y Monitoring Platform, or A11y consulting services, our team of seasoned
        experts is here to assist you. With a strong background in front-end development and extensive experience across various industries,
        including education and government, our team is well-equipped to meet your specific web accessibility needs.</p>

        <p><strong>Our Journey into Web Accessibility</strong></p>
        <p>As we have witnessed the growing demand for web accessibility, we felt compelled to explore the topic in depth. Through our
        comprehensive research, we gained a profound understanding of the significance of ADA compliance websites, which led us to pivot our
        focus and become a dedicated web accessibility provider.</p>
      </div>
      <!-- About -->
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p><strong>Understanding ADA Compliance</strong></p>
        <p>ADA compliance websites adhere to the Americans with Disabilities Act, a legal requirement that mandates websites and digital content
        to be accessible to individuals with disabilities. The <strong><a href="#" target="_blank">Web Content Accessibility Guidelines (WCAG)</a></strong>
        and <strong><a href="#" target="_blank">Section 508</a></strong> are the established standards that delineate the guidelines for achieving
        an ADA compliance website.</p>

        <p><strong>Why Choose Kaffeinated Kodemonkey</strong></p>
        <p>At Kaffeinated Kodemonkey, we offer a comprehensive suite of accessibility services, all guided by our A11y-First approach to web
        design and digital content. Our A11y Developers are DHS Certified Trusted Testers, rigorously following the Trusted Tester process to
        ensure the highest level of accessibility in your digital presence.</p>

        <p><strong>Embark on Your Accessibility Journey</strong></p>
        <p>Learn more about how our expertise can make your digital assets more accessible, SEO-friendly, and legally compliant, by
        <strong><a href="https://kaffeinatedkodemonkey.youcanbook.me/" target="_blank">Booking a Free Consutation</a></strong>.</p>

        <p><strong>More about the owner</strong></p>
        <p>For more background information on the owner check her out on our <a href="about.html"><strong>About page</strong></a>.</p>

        <!--<a href="{{site.url}}/About.html" class="btn-learn-more mt-3">Learn More</a> -->
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
