<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>About Us</h2>
      <p class="text-center fs-4"><strong><em>Helping the education and government Sectors meet WCAG Status.</em></strong></p>
    </div>

    <hr />

    <div class="row">
      <div class="col-lg-6">
        <h2>Why Partner with Kaffeinated Kodemonkey</h2>
        <p>Welcome to Kaffeinated Kodemonkey, where we specialize in an A11y-First approach, dedicated to ensuring your website's
        compliance with the latest accessibility standards and guidelines.</p>

        <p>Standout from the crowd with our comprehensive web accessibility solutions, designed to enhance user experiences,
        boost SEO performance, and safeguard against potential legal issues. </p>

        <p>Our tailored accessibility services offer a range of cutting-edge accessibility services to meet your unique needs. From meticulous accessibility audits to an innovative A11y Monitoring Platform and expert A11y consulting services, our seasoned team of professionals is committed to elevating your digital accessibility.</p>

        <p>Join the businesses that have benefited from our proven web accessibility solutions. </p>

        <h3>A11y-First Web Design</h3>
        <p></p>
        <p>Experience a transformative approach to web design and digital content with our A11y-First methodology, prioritizing accessibility at every step.</p>


        <h3>Certified DHS Trusted Testers</h3>
        <p>Our A11y Developers are certified DHS Trusted Testers, who rigorously follow the Trusted Tester process to ensure the highest level of accessibility in your digital presence.</p>

      </div>
      <!-- About -->
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h2>The Kaffeinated Kodemonkey Advantage</h2>
        <h3>Proven Expertise Across Industries</h3>
        <p>With a strong background in front-end development and extensive experience across diverse industries, including education and government sectors, we bring a wealth of knowledge to address your specific web accessibility requirements.</p>

        <h3>Our Evolution into Web Accessibility Leaders</h3>
        <p>Driven by the rising demand for web accessibility, we embarked on a journey of exploration and research. Our profound understanding of ADA compliance websites led us to specialize as a dedicated web accessibility provider, ensuring your digital assets are inclusive and accessible to all.</p>

        <h2>Navigating ADA Compliance</h2>
        <p>ADA compliance websites are crucial in meeting legal requirements. We strictly adhere to the Americans with Disabilities Act (ADA), following the Web Content Accessibility Guidelines (WCAG) and Section 508 standards to achieve optimal accessibility for individuals with disabilities.</p>


        <h2>Meet the Visionary Owner</h2>
        <p>For insights into our founder's vision and passion for web accessibility, visit our About page.</p>


        <!--<a href="{{site.url}}/About.html" class="btn-learn-more mt-3">Learn More</a> -->
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
