<div class="row d-none d-lg-block">
  <div class="col">
    <h3>Affiliates</h3>
    <ul class="no-bullets">
      <li><a href="https://prz.io/149K6enU0" target="_blank" rel="nofollow"><img src="{{ site.url }}/assets/img/affiliates/Black-Rifle-Coffee.png" class="img-fluid" alt="Black Rifle Coffee"></a></li>
      <li class="pt-2"><a href="https://mudwtr.com/?rfsn=5657995.6e61db9.91385" target="_blank"><img src="{{ site.url }}/assets/img/mud-water.png" class="img-fluid" alt="Mud Water"></a></li>
      <!-- <li><a href="https://www.link-assistant.com/buy.html?id=SPS_PRO_YEAR&referral=d56d9562ec18e8f907776ee183a5e84a" target="_blank"><img src="" alt="SEO PowerSuite"></a></li> -->
    </ul>
  </div>
</div>
