<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container-fluid mt-4">

    <ol>
      <li><a href="{{site.url}}">Home</a></li>
      {% if page.is_series == true or page.category == "newsletter" %}
        <li><a href="{{ site.url }}/ChatterRoom">ChatterRoom</a></li>

      {% endif %}
      <li>{{ page.title }}</li>
    </ol>

    <p class="fs-4 text-success"><strong>{{ page.category }}</strong></p>

  </div>
</section><!-- End Breadcrumbs -->
