<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact Us</h2>

    </div>

    <div class="row">

      <div class="col-lg-5">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>Rangely, Co, United States</p>
          </div>

          <div class="hours">
            <i class="bi-hourglass"></i>
            <h4>Hours:</h4>
            <p><strong>M-Th:</strong> 8 AM - 4 PM MST <br>
            <strong>Friday:</strong> By Appointment only<br>
            <strong>Closed Weekends and holidays</strong></p>

          </div>

          <!-- <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@example.com</p>
          </div> -->

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p><strong>Office:</strong> (720) 608-1444</p>
          </div>

          <div class="booking">
            <i class="bi-calendar-event"></i>
            <p class="pt-2"><a class="btn btn-sm btn-primary" href="{{ site.url }}/Book_Consultation" target="_blank">Book Consultation</a></p>
          </div>

          <img src="{{ site.url }}/assets/img/Google-Maps.png" alt="Google Map of Rangely Colorado" class="img-fluid">
        </div>

      </div>

      <div class="col-lg-7 php-email-form">
        <h3>When sending us a message</h3>
          <p>Please allow 2 - 4 business days on a responce.</p>
        {% include contact-form.html %}
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
