<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">

    <div class="row">
      <div class="col-lg-9 text-center text-lg-start">
        <h3 class="text-warning">Join the Inclusive Web Movement Today!</h3>
        <p>Are you ready to make the internet a more inclusive and accessible place for everyone? Join us in our mission to create a web that
        leaves no one behind. Explore our services, become ADA compliant, and advocate for a more inclusive digital world.</p>

        <p class="text-warning"><strong>Why Act Now?</strong></p>
        <ul class="text-white">
          <li>Ensure your website complies with accessibility standards.</li>
          <li>Reach a broader audience and potential customers.</li>
          <li>Make a positive impact on the lives of people with disabilities.</li>
          <li>Stay ahead of accessibility regulations and legal requirements.</li>
        </ul>
      </div>
      <div class="col-lg-3 cta-btn-container text-center">
        <a class="btn btn-lg btn-outline-warning align-middle" href="{{ site.url }}{{ site.baseurl }}Book-Consultation" target="_blank" rel="nofollow">Book Free Consultation</a>
      </div>
    </div>

  </div>
</section><!-- End Cta Section -->
