<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
      <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Can web accessibility improve SEO?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" aria-expanded="true" data-bs-parent=".faq-list">
            <p>Yes, web accessibility can improve <strong>SEO</strong>. When websites are designed and developed with accessibility in mind, they become more user-friendly for all
            users, including those with disabilities. This can lead to a better user experience, increased engagement, and higher conversion rates, which are all factors that search
            engines like Google take into account when ranking websites.</p>

            <p>Furthermore, many accessibility practices, such as providing descriptive alt text for images, using semantic HTML, and improving page load speed, also have a positive
            impact on <strong>SEO</strong>. These practices help search engines better understand the content on a website and can lead to higher search engine rankings.</p>

            <p>In addition, making a website accessible can increase its reach and audience. When a website is accessible, it can be used by people with a wide range of disabilities,
            including visual, auditory, and motor disabilities. This can help increase traffic to the website, which can improve its <strong>SEO</strong>.</p>

            <p>Overall, making a website accessible can improve its <strong>SEO</strong>, as it can lead to a better user experience, increased engagement, higher conversion rates, and better search
            engine rankings.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Why you should add accessibility now and not later?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>There are several reasons why it is important to prioritize web accessibility now rather than later:</p>

            <div class="mx-5">
              <p><strong>1) Legal requirements:</strong> Depending on your location and the industry you operate in, you may be legally required to ensure that your website is
              accessible to all users. Delaying accessibility efforts can leave you vulnerable to legal action.</p>

              <p><strong>2) Inclusive design:</strong> By making your website accessible, you are ensuring that all users, regardless of their abilities or disabilities, can access
              and use your content. This can improve the user experience for everyone and help you reach a wider audience.</p>

              <p><strong>3) Cost savings:</strong> Addressing accessibility issues early in the development process can save you time and money in the long run. Retrofitting an
              inaccessible website can be much more expensive and time-consuming than building an accessible site from the start.</p>

              <p><strong>4) Brand reputation:</strong> Prioritizing accessibility sends a message to your users that you value inclusivity and are committed to making your content
              accessible to all. This can improve your brand reputation and help you attract and retain customers.</p>
            </div>

            <p>In summary, adding accessibility to your website now is essential to ensure legal compliance, improve user experience for all users, save costs in the long run,
            and enhance your brand reputation.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What is ADA Compliance?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p><strong>ADA compliance</strong> refers to meeting the requirements of the Americans with Disabilities Act (ADA) of 1990, which prohibits discrimination against individuals
            with disabilities in all areas of public life, including employment, education, transportation, and public accommodations.</p>

            <p>In the context of the web, <strong>ADA compliance</strong> means ensuring that websites, mobile applications, and other digital content are accessible to individuals with
            disabilities, such as those who are blind or have low vision, deaf or hard of hearing, or have mobility impairments. This includes making sure that web content can be navigated,
            understood, and interacted with using assistive technologies such as screen readers, keyboard-only navigation, and captions or transcripts for audio and video content.</p>

            <p>The <strong>Web Content Accessibility Guidelines (WCAG) 2.1</strong> are the internationally recognized standards for web accessibility, and meeting these guidelines is
            the key to achieving <strong>ADA compliance</strong>. The guidelines provide a set of success criteria and techniques for making web content accessible to individuals with disabilities. By following
            these guidelines, web developers and designers can ensure that their digital content is accessible to everyone, including people with disabilities, and avoid legal
            liability under the ADA regulations.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed"> Section 508 of the Rehabilitation Act of 1973<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p><strong>Section 508</strong> of the Rehabilitation Act of 1973 is a federal law in the United States that requires federal agencies to make their electronic and information
            technology accessible to people with disabilities. The law was enacted to ensure that people with disabilities have the same access to information and communication technologies as
            those without disabilities.</p>

            <p>Under <strong>Section 508</strong>, federal agencies are required to comply with accessibility standards for electronic and information technology. These standards are
            known as the <strong>"Section 508 Standards"</strong> and cover a range of technologies, including websites, software, hardware, and multimedia.</p>

            <p>The Section 508 Standards were updated in 2017 to align with the Web Content Accessibility Guidelines (WCAG) 2.0, which are international accessibility guidelines for
            web content. The updated standards also expanded the types of technologies covered to include mobile devices, social media, and other emerging technologies.</p>

            <p>Compliance with <strong>Section 508</strong> is important for ensuring that people with disabilities have equal access to government services and information. It also sets
            an example for other organizations to follow in making their digital content accessible to all users.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">ADA and Public-Private Website<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>The Americans with Disabilities Act <strong>(ADA)</strong> is a federal law that prohibits discrimination against individuals with disabilities in various areas of public
            life, including employment, transportation, and access to public accommodations. While the <strong>ADA</strong> does not explicitly mention websites, courts have interpreted
            the law to apply to online platforms as well.</p>

            <p>As a web accessibility expert, I would advise that both public and private websites should prioritize accessibility for individuals with disabilities. Public websites,
            in particular, may face legal requirements to comply with accessibility standards under the <strong>ADA</strong> or other laws, depending on the organization and its
            jurisdiction. </p>

            <p>Making a website accessible can involve a variety of measures, such as ensuring that the site is compatible with assistive technologies like screen readers, providing
            alternative text for images, and designing a layout that is easy to navigate with a keyboard. It's also important to consider the content of the website itself and make sure
            it is presented in a way that is understandable and usable for individuals with a range of disabilities.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">A11y Evaluation Audit (AEA)<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>Is reporting tool that allows A11y Developers to document the results of each criteria of the WCAG. This tool is backed by the DHS Trusted Tester process and guidelines.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">Automatied Testing and API<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>Automated testing tool to quickly and easily identify structural elements that might cause confusion, text sizing issues, and contrast errors</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">Orca<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>Orca is an open-source, extensible screen reader and screen magnifier for Linux operating systems. Designed by the Sun Microsystems Accessibility Program Office, Orca is completely free. It’s also fairly powerful, which makes it an excellent tool for web developers who work in GNOME (GNU Network Object Model Environment) desktop environments.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed">Automatied Testing and API<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>Automated testing tool to quickly and easily identify structural elements that might cause confusion, text sizing issues, and contrast errors</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-10" class="collapsed">Color Contrast Checker<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-10" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>When the background color of a website is too similar to the colors used for text and other UI elements, some visitors may find it difficult to read and understand your site. </p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->
