<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
      <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Can web accessibility improve my search engine optimization?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>If you are on a budget and need to choose between marketing or accessibility or SEO Marketing, take accessibility every time. By default, when you design a website
            with an A11y-First approch you natural create on-page SEO that search engines look for when indexing a page.</p>

            <p>When images and interactive content is labeled correctly, search engines can list pages more accurately thus give in you a boots in ROI. Google will list images
            and link back to your site. Thus, increasing the visibility of your site. Links offer  source when they are labeled and tiled correctly, which can increase accurate
            and credible visitors and possible sales..</p>

            <p>Furthermore, accessibility adds needed information to the website that helps search engines display search results that accurately match the search request.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Why you should add accessibility now and not later?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>If your product is not accessible when you release it, you risk a lawsuit. The judge does not care if you "plan" to make it accessible later. The judge may give you some leeway, but that "plan" just became right now.</p>

            <p>Not only are you out of legal fees, but also the cost of hiring an accessibility developer and time to remedy accessibility issues. If you have an in-house dev team, you may be able to save some cost, yet you are still out of legal fees. If you do not have an in-house dev team, you are out the cost of legal fees plus the additional cost of a developer to work with the accessibility developer.</p>

            <p>In either case, hiring an accessibility developer from the beginning and including accessibility in the product will save time, money, and hassle.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What is ada Complince?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <blockquote cite="https://www.ada.gov/topics/intro-to-ada/" class="p-3 m-3 bg-light text-dark rounded-3">
              <p>The Americans with Disabilities Act <strong>(ADA)</strong> is a federal civil rights law that prohibits discrimination against people with disabilities in everyday activities.
              The <strong>ADA</strong> prohibits discrimination on the basis of disability just as other civil rights laws prohibit discrimination on the basis of race, color,
              sex, national origin, age, and religion. The ADA guarantees that people with disabilities have the same opportunities as everyone else to enjoy employment opportunities,
              purchase goods and services, and participate in state and local government programs.</p>

              <p class="fs-6 fw-bold"><cite title="Source Title">Introduction to the Americans with Disabilities Act</cite><?p>
            </blockquote>

            <hr>

            <p>There are at least three reasons that might motivate a company to create accessible web content:</p>

            <p class="ms-3"><strong>1)</strong> To improve the lives of people with disabilities (human-centered motivations)<br>
               <strong>2)</strong> To capitalize on a wider audience or consumer base (marketing or economic-centered motivations)<br>
               <strong>3)</strong> To avoid lawsuits and/or bad press (public relations and punishment-centered motivations)</p>

            <br>

            <h4>A11y-driven websites accomplish these goals when people are at the center of the process.</h4>
            <p>The Kaffeinated Kodemonkey team strives to use the POUR principles set forth by the WCAG:</p>

            <p class="ms-3"><i class="bi bi-check-all fs-4"></i> <strong>Perceivable</strong> - Information and user interface components must be presentable to users in ways they can perceive. This means that users
            must be able to perceive the information being presented (it can't be invisible to all of their senses)<br><br>

            <i class="bi bi-check-all fs-4"></i> <strong>Operable</strong> - User interface components and navigation must be operable. This means that users must be able to operate the interface (the interface cannot
            require interaction that a user cannot perform)<br><br>

            <i class="bi bi-check-all fs-4"></i> <strong>Understandable</strong> - Information and the operation of the user interface must be understandable. This means that users must be able to understand the information
            as well as the operation of the user interface (the content or operation cannot be beyond their understanding)<br><br>

            <i class="bi bi-check-all fs-4"></i> <strong>Robust</strong> - Content must be robust enough that it can be interpreted reliably by a wide variety of user agents, including assistive technologies.
            This means that users must be able to access the content as technologies advance (as technologies and user agents evolve, the content should remain accessible).
            Those who are simply trying to avoid lawsuits realize must consider and address people with disabilities within their targeted audience.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed"> Section 508 of the Rehabilitation Act of 1973<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p>Section 508 is a set of standards that requires Federal agencies to make ICT accessible to employees and members of the public with disabilities; the same experience as employees and members of the public without disabilities.</p>

            <p>In 1998, Congress amended the Rehabilitation Act of 1973 requiring Federal agencies to make electronic documents accessible to people with disabilities. <strong>Section 508</strong>
            applies to all Federal agencies when it pertains to electronic and information technology. Government agencies must give disabled employees and members of the public access to the same or comparable information
            as they do others.</p>

            <p>The <strong>U.S. Access Board</strong> is responsible for developing accessibility standards that govern Federal procurement practices. January 2017, they issued a final rule that updated accessibility requirements
            for section 508 and refreshed guidelines to Section 255.</p>

            <p>The refresh reorganized Section 508 Standards and <strong>Section 255 Guidelines</strong> in response to market trends and innovations in technology. The refresh also harmonized these requirements with other guidelines
            and standards both in the U.S. and abroad, including standards issued by the European Commission, and W3C guidelines know as WCAG.</p>
          </div>
        </li>
        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Does the Americans with Disabilities Act apply to digital content?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
            <p>Accessibility standards issued under the Americans with Disabilities Act (ADA) apply to places of public accommodation, commercial facilities, and state and local government facilities in new construction,
            alterations, and additions. The ADA Standards are based on minimum guidelines set by the Access Board.</p>

            <p>The Department of Justice (DOJ) and the Department of Transportation (DOT) issue the ADA Standards. DOJ’s ADA Standards apply to all facilities except public transportation facilities, which are subject to
            DOT’s ADA Standards. This version of the ADA Standards combines both documents and notes unique provisions in the DOJ Standards and the DOT Standards. The Access Board is responsible for providing technical
            assistance and training on these Standards.</p>
          </div>
        </li>

      </ul>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->
