<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is web accessibility and how does it work?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" aria-expanded="true" data-bs-parent=".faq-list">
            <p>Web accessibility refers to the practice of making websites and web applications usable by people of all abilities and disabilities.
            This includes ensuring that people with disabilities can perceive, understand, navigate, and interact with the web. Disabilities that
            affect web accessibility include visual, auditory, physical, speech, cognitive, neurological, and other disabilities.</p>

            <p>The key principles and techniques for achieving web accessibility are as follows:</p>
            <ol>
              <li><strong>Perceivable:</strong> Information and user interface components must be presented in ways that users can perceive. This includes providing text alternatives for non-text content (such as images and multimedia), ensuring that content is easy to see and hear, and using different ways to present information (such as through text, audio, and video).</li>
              <li><strong>Operable:</strong> User interface components and navigation must be operable. This means that users must be able to navigate and interact with the website using various input methods, such as a keyboard, mouse, or touchscreen. It also involves providing users enough time to read and use content, avoiding content that causes seizures, and making web pages predictable and consistent in their operation.</li>
              <li><strong>Understandable:</strong> Content and operation of the website must be understandable. This involves making text readable and understandable, ensuring that navigation is clear and consistent, and providing help and guidance to users when they need it.</li>
              <li><strong>Robust:</strong> Content must be robust enough to work with current and future technologies, including assistive technologies. This means using technologies and coding practices that support accessibility standards, such as HTML, CSS, and JavaScript, and ensuring compatibility with assistive technologies like screen readers, screen magnifiers, and speech recognition software.</li>
            </ol>

            <p>To achieve web accessibility, our A11y team follows the WCAG accessibility guidelines put forthe by the W3C, which provide detailed
            recommendations for creating accessible web content. These guidelines cover a wide range of accessibility issues and provide techniques for
            addressing them.</p>

            <p>In addition to following guidelines, testing for accessibility is crucial. Our A11y Developers use accessibility testing tools and conduct
            manual accessibility test folloing the reporting prosses put forth by DHS to ensure that the clirests website is accessible to users with disabilities.</p>

            <p>Ultimately, web accessibility is about making the web inclusive and ensuring that everyone, regardless of disability, can access and interact with online content and services effectively.</p>

            <p>For more information on web accessibility visit:
              <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">WCAG 2 Overview</a></p>
            <p>Or checkout the guidlines:
              <a href="https://www.w3.org/TR/WCAG20/">WCAG 2 Guidelines</a></p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How does web accessibility benefit businesses and organizations?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>Adopting web accessibility practices not only ensures compliance with legal requirements but also expands the potential audience and customer base. Accessible websites contribute to a positive brand image, demonstrate social responsibility, and improve overall user satisfaction.

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What is the role of ARIA (Accessible Rich Internet Applications) in web accessibility?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>ARIA is a set of attributes that enhance the accessibility of dynamic content, such as AJAX, JavaScript, and other advanced web technologies. It helps assistive technologies interpret and interact with dynamic content, making it more accessible for users with disabilities.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">What are the key components of web accessibility?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>Web accessibility encompasses various components, including perceivability (content presentation), operability (interaction), understandability (clear navigation), and robustness (compatibility with different technologies). These principles, outlined in the WCAG, guide developers in creating websites that accommodate diverse user needs, ensuring a seamless experience for individuals with disabilities.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">What is WCAG, and why is it important for compliance?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>The Web Content Accessibility Guidelines (WCAG) are a set of international standards developed by the W3C to ensure web content is accessible to all users, including those with disabilities. Compliance with WCAG is essential for legal adherence, creating an inclusive digital environment, and enhancing user satisfaction. The guidelines are organized around the principles of perceivability, operability, understandability, and robustness.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed">Are there legal requirements for web accessibility?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>In various regions, there are legal requirements mandating web accessibility, such as the Americans with Disabilities Act (ADA) in the United States and the Accessibility for Ontarians with Disabilities Act (AODA) in Canada. Compliance with these regulations is essential for avoiding legal complications and fostering inclusivity.</p>

          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed">Manual Testing VS Automated Scan<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>In the realm of web accessibility, the distinction between manual testing and automated scans holds significance. Automated testing tools, exemplified by axe Accessibility Checker, play a pivotal role in promptly identifying and addressing web accessibility issues while supporting manual evaluations. These tools systematically scan websites, pinpointing problems, and ensuring compliance with accessibility standards.</p>

            <p>However, a notable misconception arises when it comes to API accessibility. APIs are commonly employed to create programs for automated responses during website scans. Despite their efficiency, it's crucial to recognize that relying solely on automated scans may not suffice in ensuring accessibility. Manual testing must always complement automation to thoroughly assess a product against WCAG requirements. By synergizing automated and manual testing, developers can achieve a more comprehensive and accurate evaluation of accessibility, fostering a truly inclusive digital experience for users.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">How can content creators make multimedia content accessible?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>To enhance accessibility of multimedia content, creators should provide alternative text for images and captions or transcripts for videos and audio. Ensuring that multimedia controls are keyboard accessible and adhering to accessibility standards when embedding content are key considerations.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed">What are the common challenges in achieving web accessibility?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>Challenges include outdated technology, lack of awareness, and insufficient training. Overcoming these hurdles requires a commitment to education and ongoing improvement.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-10" class="collapsed">What resources are available for learning more about web accessibility?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-10" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>Numerous online resources, including the Web Content Accessibility Guidelines (WCAG) and organizations like W3C and WebAIM, provide comprehensive information and guidance on web accessibility best practices.</p>

            <p>These FAQs can serve as a foundation for a detailed and informative blog on web accessibility, offering valuable insights and guidance for developers, designers, and businesses aiming to create inclusive online experiences.</p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-11" class="collapsed">What are WCAG POUR Principles?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-11" class="collapse" data-bs-parent=".faq-list" aria-expanded="false">
            <p>WCAG POUR Principles represent a set of guiding principles established by the Web Content Accessibility Guidelines (WCAG) to ensure that web content is accessible to people with disabilities. The term "POUR" stands for Perceivable, Operable, Understandable, and Robust – key attributes that contribute to a more inclusive online experience.</p>
            <dl>
              <dt>Perceivable:</dt>
              <dd>Information and user interface components must be presented in ways that users can perceive. This involves providing text alternatives for non-text content, making content adaptable, and offering alternatives for time-based media.</dd>

              <dt>Operable:</dt>
              <dd>Users should be able to interact with and navigate the website. This principle emphasizes keyboard accessibility, providing sufficient time for users to read and complete tasks, avoiding content that could potentially cause seizures or physical discomfort, and designing navigation that is intuitive and straightforward.</dd>

              <dt>Understandable:</dt>
              <dd>Information and operation of the user interface must be clear and straightforward. This principle involves creating legible and readable text, designing consistent and predictable navigation and functionality, and input assistance to help users avoid and correct errors.</dd>

              <dt>Robust:</dt>
              <dd>Content must be robust enough to be reliably interpreted by a wide variety of user agents, including assistive technologies. This principle involves using valid and well-formed code, ensuring compatibility with current and future technologies, and providing fallback mechanisms for when technologies are not supported.</dd>
            </dl>

            <p>Adhering to these POUR Principles ensures that websites are not only accessible to individuals with disabilities but also provide a better user experience for everyone, regardless of their abilities or disabilities.</p>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->
