<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Are you ADA Compliant?</h1>
          <h2>At Kaffeinated Kodemonkey, we recognize the significance of digital transformation for businesses and local
          governments alike. To flourish in today's ever-evolving digital landscape, you need more than just an appealing
          website; you require a <a href="/POC-Certificate.html" class="text-warning">POC Certificate</a> that ensures your
          business meets the <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/intro.html" target="_blank"></a>WCAG POUR principles</a>
          and complies with local accessibility laws.</h2>

        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="https://kaffeinatedkodemonkey.youcanbook.me" target="_blank" class="btn btn-lg btn-outline-warning scrollto">Book Free Consultation</a>
          <a href="{{site.url}}/W3C-Accessibility-Video.html" class="glightbox btn-watch-video" rel="nofollow"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="{{site.url}}/assets/img/hero-img.png" class="img-fluid animated" alt="Web Accessibility Services">
      </div>
    </div>
  </div>

</section>
<!-- End Hero -->
