<div class="footer-newsletter">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <!-- Begin Mailchimp Signup Form -->
        <link href="{{site.url}}/assets/css/mailchimp.css" rel="stylesheet" type="text/css">
        <h4>Join Our Newsletter</h4>
        <p>Receive monthly updates about A11y requirments, changes, remediations, and events.</p>

        <div id="mce-responses" class="clear foot">
          <div class="response text-danger fs-3" id="mce-error-response" style="display:none"></div>
          <div class="response text-success fs-3" id="mce-success-response" style="display:none"></div>
        </div>

        <form action="https://kaffeinatedkodemonkey.us10.list-manage.com/subscribe/post?u=946020d51fa2e85718e5cd3aa&amp;id=d3fd5523c6&amp;f_id=00a4e2e5f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate rel="nofollow">
          <div class="mc-field-group">
            <input type="email" placeholder="Email Required [xxx@xxx.com]" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on" aria-label="Email">
            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
          </div>

          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_946020d51fa2e85718e5cd3aa_d3fd5523c6" tabindex="-1" value="" aria-label="hidden"></div>
          <div class="optionalParent">
            <div class="clear foot">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
              <!-- <p class="brandingLogo"><a href="http://eepurl.com/ihSWVX" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p> -->
            </div>
          </div>

        </form>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>(function($) {window.fnames = new Array();window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>
