<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Complete A11y for your business</h2>

      <p>Kaffeinated Kodemonkey is your <strong data-bs-toggle="tooltip" data-bs-placement="left" title="Subject Matter Expert">SME</strong> in ADA compliance.
      Our team ensures your digital content is equally accessible to everyone.</p>

      <p>Education and Government entities must include a <strong data-bs-toggle="tooltip" data-bs-placement="left" title="Voluntary Product Accessibility Template">VPAT</strong> <em>
      (aka - Accessibilty Compliance Report)</em> in their RFP processes. Furthermore, private businesses are getting sued for inaccessible digital experiences. Releasing inaccessible;
      software or digital products leaves the company vulnerable to lawsuits that could cost your company more money in the long run. </p>

      <br />
      <h3 class="dubble-line text-secondary"><a href="https://kaffeinatedkodemonkey.youcanbook.me/" target="_blank" >Talk to a A11y Developer Today!</a></em> and become ada compliant.</h3>

      <!--<p>With Accessibility vastly on the rise, government entities and contractors are required to include a VPAT with an RFP.</p>
      <p>While more and more privet entities are being asked to show validation that their product meets WCAG/508 requirements.</p>
      <p>Stop telling and show that your product meets the WCAG/508 standards with one for out a POC Certification packages.</p> -->
    </div>

    <div class="row">
      <!-- A11y Audit -->
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">  
          <div class="icon"><i class="bx bi-paperclip"></i></div>
          <h4><a href="{{site.url}}/A11y-Evaluation.html" class="stretched-link">A11y Audit</a></h4>

          <p>For WCAG/508 status, RFP/contract.</p>
          <p>Simple site audit with a completed VPAT. Does not resolve a11y issues.</p>

          <hr>

          <p>Great for the following and more: </p>
          <ul>
            <li>A11y Audit</li>
            <li>TTAD review</li>
            <li>Completion of a VPAT</li>
          </ul>

          <br><br><br><br>
          <p class="small"><strong><em>No platform access</em></strong>
        </div>
      </div>
      <!-- POC Cert -->
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="{{site.url}}/POC-Certification.html" class="stretched-link">POC Cerification</a></h4>

          <p>A11y audit & monthly monitoring.</p>
          <p>Our team will let you know when a11y issues are found.</p>

          <hr>

          <p>Includes the following:</p>
          <ul>
            <li>Full site evaluation</li>
            <li>Monthly scan report</li>
            <li>Update to all documents</li>
            <li>Validation Badge</li>
          </ul>

          <br><br><br>
          <p><strong><em>No platform access</em></strong>
        </div>
      </div>
      <!-- Team Monitoring -->
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="{{site.url}}/Team-Monitoring.html" class="stretched-link">Team Monitoring</a></h4>

          <p>For in-house develpment teams.</p>
          <p>Sitewide accessibility scanning and reporting on your terms.</p>

          <hr>

          <p>Includeds the following:</p>
          <ul>
            <li><strong><em>POC Certification</em></strong></li>
            <li>Access to the platform</li>
            <li>Scheduled scans & rescans</li>
            <li>Unlimited Websites</li>
            <li>Add Users & Groups</li>
          </ul>

          <br><br>
          <p class="small"><strong><em>Platform access</em></strong>

        </div>
      </div>
      <!-- Agency Monitoring -->
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a href="{{site.url}}/Agency-Monitoring.html" class="stretched-link">Agency Monitoring</a></h4>

          <p>For design or development agencies.</p>
          <p>Incorperate a11y trainig and start monitor all your clients a11y needs.</p>

          <hr>

          <p>Includeds the following:</p>
          <ul>
            <li><strong><em>POC Certification</em></strong></li>
            <li>Password-protected pages</li>
            <li>Import tools for websites</li>
            <li>Baseline results & graph</li>
            <li>Dev API, JIRA, Asana</li>
            <li>A11y training</li>
            <li>and More</li>
          </ul>

          <p class="small"><strong><em>Platform access</em></strong>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->
