  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Complete Web Accessibility Services</h2>
        <p>Take the lead in web accessibility with Kaffeinated Kodemonkey – your trusted partner in Web Accessibility, WCAG POUR principles, and ADA Compliance.</p>
        <p>Non-compliance poses legal risks, especially for the government sector. Don't wait; secure your digital presence today.</p>

        <p class="text-center mt-4"><a href="http://www.youcanbook.me/kaffeinatedkodemonkey" class="btn btn-md btn-outline-primary">Book Free Consultation</a></p>

      </div>

      <div class="row">
        <h3 class="dubble-line text-secondary text-center mb-5">What Accessibility Service is right for you?</h3>
        <!-- A11y Audit -->
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bi-paperclip"></i></div>
            <h4><a href="{{site.url}}/A11y-Audit.html" class="stretched-link">A11y Audit</a></h4>

            <p>Used for RFPs and Contracts. Provides baseline ADA Compliance Audit for A11y discussion.</p>

            <hr>

            <p>Great for the following: </p>
            <ul>
              <li>Auto Scan</li>
              <li>Manuel Evaluation</li>
              <li>Current VPAT Completion</li>
            </ul>
          </div>
        </div>
        <!-- POC Cert -->
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4><a href="{{site.url}}/POC-Certificate.html" class="stretched-link">POC Certificate</a></h4>

            <p>Proof of Compliance Certificate verifies your produt meets current WCAG, Section 508, and/or EU.</p>

            <hr>

            <p>Includes the following:</p>
            <ul>
              <li><strong>A11y Audit</strong></li>
              <li>Supporting Documents</li>
              <li>POC Certificate</li>
            </ul>
          </div>
        </div>
        <!-- Team Monitoring -->
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="{{site.url}}/A11y-Monitoring.html" class="stretched-link">A11y Monitoring</a></h4>

            <p>Access our monitoring platform for in-house A11y monitoring and A11y training program.</p>


            <hr>

            <p>Includeds the following:</p>
            <ul>
              <li><strong><em>POC Certificate</em></strong></li>
              <li>Access Monitoring platform</li>
              <li>Training and Support</li>
            </ul>
          </div>
        </div>

        <!-- A11y web design -->
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="{{site.url}}/A11y-WebDesign.html" class="stretched-link">A11y Web Design</a></h4>

              <p>Building ADA compliance websites with an A11y-First approach following WCAG POUR Principles.</p>

              <hr>

              <p>Includeds the following:</p>
              <ul>
                <li><strong><em>POC Certificate</em></strong></li>
                <li>A11y-First approach</li>
                <li>Custom development</li>
                <li>Hosting & Domain name</li>
              </ul>
            </div>
          </div>
        <!-- Agency Monitoring -->
      <!--  <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4><a href="{{site.url}}/Agency-Monitoring.html" class="stretched-link">Agency Monitoring</a></h4>

            <p>For design or development agencies.</p>
            <p>Incorperate A11y trainig and start monitor all your clients A11y needs.</p>

            <hr>

            <p>Includeds the following:</p>
            <ul>
              <li><strong><em>POC Certificate</em></strong></li>
              <li>Password-protected pages</li>
              <li>Import tools for websites</li>
              <li>Baseline results & graph</li>
              <li>Dev API, JIRA, Asana</li>
              <li>A11y training</li>
              <li>and More</li>
            </ul>

            <p class="small"><strong><em>Platform access</em></strong>
          </div>
        </div> -->

      </div>

    </div>
  </section><!-- End Services Section -->
