<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Complete A11y for your business</h2>

      <p>Kaffeinated Kodemonkey is your <strong>SME</strong> in <strong>ADA compliance</strong>. Our team ensures your digital content is equally accessible to everyone.
      The government and education sectors are most at risk for lawsuits if they ignore web accessibiltiy implementation. Also if companies in the privect sector release
      inaccessible digital content, they are leaving the company vulnerable to lawsuits that will cost the company more money in the long run.</p>

      <br />
      <h3 class="dubble-line text-secondary">What Accessibility Service is right for you?
      <a href="https://kaffeinatedkodemonkey.youcanbook.me/" target="_blank" >Talk to a A11y Developer Today!</a></h3>

      <!--<p>With Accessibility vastly on the rise, government entities and contractors are required to include a VPAT with an RFP.</p>
      <p>While more and more privet entities are being asked to show validation that their product meets WCAG/508 requirements.</p>
      <p>Stop telling and show that your product meets the WCAG/508 standards with one for out a POC Certificate packages.</p> -->
    </div>

    <div class="row">
      <!-- A11y Audit -->
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bi-paperclip"></i></div>
          <h4><a href="{{site.url}}/A11y-Audit.html" class="stretched-link">A11y Audit</a></h4>

          <p>Tipically used for RFPs or contracts.</p>
          <p>Gives your team a baseline WCAG status.</p>

          <hr>

          <p>Great for the following: </p>
          <ul>
            <li>ADA Compliance Status</li>
            <li>VPAT Completion for RFP</li>
            <li>Buy-in for POC Certification</li>
          </ul>

          <br><br><br>
          <p class="small"><strong><em>No platform access</em></strong>
        </div>
      </div>
      <!-- POC Cert -->
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a href="{{site.url}}/POC-Certification.html" class="stretched-link">POC Cerification</a></h4>

          <p>Proof of Compliance Certification outlines your efforst in meeting WCAG/508 and state requirements.</p>

          <hr>

          <p>Includes the following:</p>
          <ul>
            <li>Audit Scan & Evaluationn</li>
            <li>Quarterly/Yearly Reports</li>
            <li>Update documents</li>
            <li>POC Certificate</li>
          </ul>

          <br><br>
          <p><strong><em>No platform access</em></strong>
        </div>
      </div>
      <!-- Team Monitoring -->
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a href="{{site.url}}/A11y-Monitoring.html" class="stretched-link">A11y Monitoring</a></h4>

          <p>Designed for dev teams or agancies. The A11y platform allows your team to monitor accessible on the stie.</p>

          <hr>

          <p>Includeds the following:</p>
          <ul>
            <li><strong><em>POC Certificate</em></strong></li>
            <li>Built in Accessibility Training</li>
            <li>Advance Scanning features</li>
            <li>Tracking progress</li>
            <li>Manual Test Tracking</li>
          </ul>


          <p class="small"><strong><em>Platform access</em></strong>

        </div>
      </div>

      <!-- A11y web design -->
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4><a href="{{site.url}}/Agency-WebDesign.html" class="stretched-link">A11y Web Design</a></h4>

            <p>Kaffeinated Kodemonkey developes WCAG compliant websites using the POUR Principals.</p>

            <hr>

            <p>Includeds the following:</p>
            <ul>
              <li><strong><em>POC Certificate 1yr</em></strong></li>
              <li>A11y-First approach</li>
              <li>Custom development</li>
              <li>Mobile and user friendly</li>
              <li>Hosting & Domain name</li>
            </ul>

            <br>

            <p class="small"><strong><em>Platform access</em></strong>
          </div>
        </div>
      <!-- Agency Monitoring -->
    <!--  <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a href="{{site.url}}/Agency-Monitoring.html" class="stretched-link">Agency Monitoring</a></h4>

          <p>For design or development agencies.</p>
          <p>Incorperate A11y trainig and start monitor all your clients A11y needs.</p>

          <hr>

          <p>Includeds the following:</p>
          <ul>
            <li><strong><em>POC Certificate</em></strong></li>
            <li>Password-protected pages</li>
            <li>Import tools for websites</li>
            <li>Baseline results & graph</li>
            <li>Dev API, JIRA, Asana</li>
            <li>A11y training</li>
            <li>and More</li>
          </ul>

          <p class="small"><strong><em>Platform access</em></strong>
        </div>
      </div> -->

    </div>

  </div>
</section><!-- End Services Section -->
