<section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">


          <p class="fs-3"><strong><em>Kaffeinated Kodemonkey - Your Digital A11y Partner</em></strong></p>

          <p>Kaffeinated Kodemonkey is dedicated to revolutionizing the digital landscape by ensuring accessibility for everyone.
          Accessibility is not just about compliance; it's about expanding your audience reach and providing an inclusive, engaging experience.</p>

          <p class="fs-5"><strong>Expertise You Can Trust</strong></p>
          <p>Our Accessibility Developers hold the esteemed DHS Certified Trusted Tester certification, signifying our mastery in making
          digital spaces accessible. Partnering with us ensures that your online presence exceeds the benchmarks established by the <a href="https://www.w3.org/TR/WCAG22/" target="_blank"><strong>Web Content Accessibility Guidelines (WCAG)</strong></a>.</p>

          <p class="fs-5"><strong>An A11y-First Approach to Web Design</strong></p>
          <p>We believe that accessibility should be integrated from the ground up. By embracing the
          <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/intro.html" target="_blank"><strong>WCAG POUR principles</strong></a>
          in web design, you can ensure that your digital presence is <strong>ADA compliant</strong> from the very beginning:</p>

          <ul class="no-bullets mb-3">
            <li><i class="ri-check-double-line check-color"></i> <strong>P</strong>erceivable - Users must be able to perceive the information being presented</li>
            <li><i class="ri-check-double-line check-color"></i> <strong>O</strong>perable - Users must be able to operate the interface </li>
            <li><i class="ri-check-double-line check-color"></i> <strong>U</strong>nderstandable - Users must be able to understand information & operations</li>
            <li><i class="ri-check-double-line check-color"></i> <strong>R</strong>obust - Users must be able to access the content as technology advances</li>
          </ul>

          <p class="fs-5"><strong>Accessibility: The Key to Success</strong></p>
          <p>Prioritizing accessibility unlocks a world of opportunities. It's not just about compliance; it's about creating a digital asset
          that shines in the competitive online landscape.</p>

          <p><strong>SEO Advantages for ROI Growth and ADA Compliance</strong></p>
          <p>Enhancing your website's accessibility is not only about compliance; it's also about enhancing your business success.
          By focusing on accessibility, you gain significant SEO advantages, improving your Return on Investment (ROI) through on-page SEO.
          This enhances the discoverability and understanding of your content, both by users and search engine bots.</p>

          <p>When you choose Kaffeinated Kodemonkey, you're not just embracing accessibility; you're embracing success.
          Elevate your business's digital presence today and reap the rewards of inclusivity, improved SEO, and ADA compliance.</p>

          <p class="text-center text-mute"><i>Let's make your web presence accessible, compliant, and competitive.</i></p>
      </div>
      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">
        &nbsp;
        <!-- <p class="text-center align-bottom"><a href="https://kaffeinatedkodemonkey.youcanbook.me/" target="_blank" class="btn btn-md btn-outline-warning">Booking Free Consultation</a></p> -->
      </div>

    </div>

  </div>
</section><!-- End Why Us Section -->
