<section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">


          <h3 class="text-center"><strong><em>Kaffeinated Kodemonkey is a Web Accessibility Agency</em></strong></h3>

          <p>At Kaffeinated Kodemonkey, we are dedicated to making the web accessible for everyone. Our Accessibility Developer is a DHS Certified Trusted Tester
          and uses the Trusted Tester process to ensure that your website meets the accessibility standards defined by the Web Content Accessibility Guidelines (WCAG).</p>

          <p>Our A11y Developer believes accessibility starts from the ground ups. This why we use the WCAG POUR principles in web design and evaluations, so you can rest
          assured you have an ADA compliance website out the gate.</p>

          <p>In addition to compliance benefits, prioritizing accessibility offers <strong>SEO</strong> advantages by helping improve <strong>ROI</strong> through
          <strong>on-page SEO</strong> and making your content discoverable and understandable by users and search engine bots. It also enhances the overall user
          experience by following <strong>W3C's POUR</strong> principles.</p>

          <p>What is <strong>POUR</strong> web design:</p>

          <ul class="no-bullets mb-3">
            <li><i class="ri-check-double-line check-color"></i> <strong>P</strong>erceivable - Users must be able to perceive the information being presented</li>
            <li><i class="ri-check-double-line check-color"></i> <strong>O</strong>perable - Users must be able to operate the interface </li>
            <li><i class="ri-check-double-line check-color"></i> <strong>U</strong>nderstandable - Users must be able to understand information & operations</li>
            <li><i class="ri-check-double-line check-color"></i> <strong>R</strong>obust - Users must be able to access the content as technology advances</li>
          </ul>

          <p>Through Web Accessibility, you position your website for success in both ADA Compliance and SEO. An accessibility-first approach naturally fosters excellent
          <strong>SEO</strong> practices by providing search engines with additional information about your site and pages, enabling them to display search results that
          accurately match user queries.</p>
      </div>

      <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
    </div>

  </div>
</section><!-- End Why Us Section -->
