<section id="why-us" class="why-us section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Partner with Us</h2>

      <h3 class="text-center">The Kodemonkey Advantage</h3>
      <p class="text-center"><strong><em>WOSB ~ DHS Certified Trusted Tester ~ Member of the IAAP</em></strong></p>
    </div>

    <hr />

    <div class="row">
      <div class="col-6">
        <h3>Why goverment & education partner with us</h3>
        <p>Welcome to Kaffeinated Kodemonkey, your premier partner in ensuring web accessibility and ADA compliance for local government and education sectors. We specialize in an A11y-First approach, dedicated to guaranteeing that your website meets state/local government ADA compliance laws. With the release of the latest accessibility standards and guidelines version 2.2, rest assured that your SME (Subject Matter Experts) are on top of this crucial aspect.</p>

        <h3>Solutions for business and local governments</h3>
        <p>Partnering with us means standing out with a holistic web accessibility solution that goes beyond meeting standards.
        We ensure that your website not only complies but also performs well in search engine rankings.</p>

        <p>Our services assist you in meeting local and WCAG requirements, and now, they come with a POC Certificate, demonstrating your company's commitment to inclusivity. This certificate serves as a tangible testament to your dedication to providing an accessible and inclusive online environment for all users.</p>

        <h3>Tailored Services for Varied Industries</h3>
        <p>Our customized accessibility services offer cutting-edge solutions to meet your unique needs. From meticulous audits to an innovative A11y Monitoring Platform and expert consulting services, our seasoned team is committed to elevating your digital presence. By implementing SEO best practices in accessibility, we ensure your content is optimized for search engines while remaining inclusive.</p>

        <h3>A11y-First Web Design</h3>
        <p>Immerse yourself in a transformative approach to web design and digital content with our A11y-First methodology. Following web accessibility guidelines takes center stage at every step, and our A11y Developers are certified DHS Trusted Testers, rigorously adhering to the Trusted Tester process for the highest level of inclusion in your digital presence. This commitment extends to SEO, ensuring that your accessible content is discoverable by search engines.</p>

      </div>
      <!-- About -->
      <div class="col-6 pt-4 pt-lg-0">
        <h3>Proven Expertise in Web Accessibility</h3>
        <p>With a strong background in front-end development and extensive experience across diverse industries, we bring a wealth of knowledge to address your specific web accessibility requirements. Our expertise also includes optimizing content for search engines, aligning with the latest SEO strategies.</p>

        <h3>Fostering Future Accessibility Experts</h3>
        <p>In response to the growing demand for web accessibility, we've initiated a transformative journey with the introduction of a comprehensive mentorship program.</p>
        <p>As you collaborate with A11y Developers and seasoned SMEs, you'll not only gain practical, real-world experience in ADA Compliance but also lay the foundation for a fulfilling career. Our mentorship initiative is designed to empower you to evolve into a future Subject Matter Expert (SME) in the dynamic field of web accessibility.</p>

        <h3>Navigating Accessibility with Precision</h3>
        <p>ADA compliance websites are crucial in meeting legal requirements, and we strictly adhere to the Americans with Disabilities Act (ADA). We follow the Web Content Accessibility Guidelines (WCAG) and Section 508 standards to achieve optimal inclusion for individuals with disabilities. Our SEO-focused approach ensures that your content not only complies with regulations but also performs well in search engine results.</p>

        <h3>Schedule Your Consultation</h3>
        <p>Ready to enhance your web presence? Book a consultation with our experts to discuss your specific needs and take the first step toward a more inclusive digital future. Our SEO-driven strategies will ensure that your website is not only accessible but also ranks prominently in search engine results.</p>

        <a href="https://kaffeinatedkodemonkey.youcanbook.me/" class="mt-3 btn btn-md btn-outline-primary">Book Free Consultation</a></p>

      </div>
    </div>
  </div>
</section><!-- End Why Us Section -->
