<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body>

  {% include header.html %}

  <main id="main">

    {% include breadcrumbs.html %}

    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-lg-3 px-5">
          <div class="row">
            <div class="col">
              <figure>
                  <img src="{{site.url}}/assets/img/Kaffeinated_Kodemonkey_Logo1.jpg" alt="Kaffeinated Kodemonkey" width="50%" class="img-thumbnail mb-3 ms-3"/>
                  {% if page.title == "About" %}
                  <figcaption>
                    <h3>Owner | A11y Dev</h3>
                    <p><strong>Trusted Tester ID: TT-2311-03604</strong>
                  </figcaption>
                  {% endif %}
              </figure>
            </div>
          </div>
          <hr>
          {% if page.category != 'Empty' }
            {% include sidebar-left.html %}

            {% include affiliates.html %}
          {% endif %}
        </div>
        <div class="col-lg-8 mb-3 fs-5">

          {{ content }}

          <hr >
          <div class="text-center">
            {% if page.category != 'KKM-POCC' %}
              <h3>Always Remember</h3>
              <p class="fs-6"><em>Automated testing does not replace manual testing. Only a human can determine if a website is ada compliant. <br>
              The combination of a Certifed A11y developer and an A11y Platforme will set your team and project apart form others.</em></p>
            {% else %}
              <p class="fs-6"><em>Our mission is to develop and certify digital content to meet ADA Compliance.<br>
              With the combination of an Certified A11y Developer and a solid framework, <br />you can achieve and maintain accessibility with
              eases.</em></strong></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

   <!-- ======= Cta Section ======= -->

   {% include cta.html %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include footer.html %}

</body>

</html>
