<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body>

  {% include header.html %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container-fluid mt-3">

        <ol>
          <li><a href="{{site.url}}">Home</a></li>
          <li>{{ page.title }}</li>
        </ol>

        <h1>{{ page.title }}</h1>

      </div>
    </section><!-- End Breadcrumbs -->

    <div class="container-fluid">
      <div class="row mt-5">
        <div class="col-lg-3 px-5">
          {% include sidebar-left.html %}
        </div>
        <div class="col-lg-8 mb-3 fs-5">

          {{ content }}

          <hr >
          <div class="text-center">
            {% if page.category != 'KKM-POCC' %}
              <h3>Always Remember</h3>
              <p class="fs-6"><em>Automated testing does not replace manual testing. Only a human can determine if a website is ada compliant. <br>
              The combination of a Certifed A11y developer and an A11y Platforme will set your team and project apart form others.</em></p>
            {% else %}
              <p class="fs-6"><em>Our mission is to develop and certify digital content to meet ADA Compliance.<br>
              With the combination of an Certified A11y Developer and a solid framework, <br />you can achieve and maintain accessibility with
              eases.</em></strong></p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

   <!-- ======= Cta Section ======= -->

   {% include cta.html %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include footer.html %}

</body>

</html>
