<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body>

  {% include header.html %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>{{ page.title }}</li>
        </ol>
        <h2>{{ page.title }}</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section id="inner-page">
      <div class="row ps-5 pe-5">
        <div class="col-3">
          {% include sidebar-left.html %}
        </div>
        <div class="col-9 mt-1 ps-5 pe-5">
          <h2>{{ page.subtitle }}</h2>
          {{ content }}

          <hr>
          {% if page.category != 'KKM-POCC' %}

            <h3>Always Remember</h3>
            <p>Automated testing does not replace manual testing. Only a human can determine if a website is accessible.<br>
            The combination of a Certifed A11y developer and an A11y Platforme will set your team and project apart form others.</p>
          {% else %}
            <p class="text-center"><strong><em>Our mission is to develop and certify digital content to meet ADA Compliance.<br>
              With the combination of an Certified A11y Developer and a solid framework, you can achieve and maintain accessibility with eases.</em></strong></p>
          {% endif %}
        </div>
      </div>
    </section>


   <!-- ======= Cta Section ======= -->

   {% include cta.html %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include footer.html %}

</body>

</html>
