<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<body>

  {% include header.html %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container-fluid mt-3">

        <ol>
          <li><a href="{{site.url}}">Home</a></li>
          <li>{{ page.title }}</li>
        </ol>

      </div>
    </section><!-- End Breadcrumbs -->

    <div class="container-fluid">
      <div class="row mx-3 my-3">
        <div class="col-3">
          <!-- Series links -->
          <hr class="border border-success border-1 opacity-25">
          <h3 class="text-success ps-4 fs-5 pb-0">{{ page.series_title | upcase }}</h3>
          <hr class="border border-success border-1 opacity-25">

          {% assign posts = site.posts | where: "is_series", true | where: "series_title", page.series_title | sort: 'date' %}

          {% for post in posts %}
            {% if post.title == page.title %}
            <p class="nav-link text-secondary ps-4 mb-0">{{ post.title }}</p>
            {% else %}
            <a class="nav-link text-primary-emphasis ps-4 " href="{{ post.url }}">{{ post.title }}</a>
            {% endif %}
          {% endfor %}

        </div>
        <div class="col-9 mt-2">
          <!-- title bar -->
          <div class="row">
            <div class="col-12">
              <h1 class="mt-1">{{ page.title }}</h1>
              <hr class="border border-success border-1 opacity-25">
            </div>
          </div>
          <!-- Content -->
            {{ content }}
        </div>
      </div>
    </div>

   <!-- ======= Cta Section ======= -->

   {% include cta.html %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include footer.html %}

</body>

</html>
